header .title
{
	justify-content:center;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	text-transform:uppercase;
	font-size:50px;
}

header .external-links
{
	margin:auto;
	width:80%;
	justify-content:center;
	padding-top:5px;
	padding-bottom:10px;
	display:flex;
	flex-direction:row;
	gap:20px;
}

header .external-links a:link
{
	text-decoration:none;
	color:#5C5C5C;
}

header .external-links a:visited
{
	text-decoration:none;
	color:#5C5C5C;
}

header .external-links a:hover
{
	text-decoration:none;
	color:#8C8C8C;
}

header .external-links a:active
{
	text-decoration:none;
	color:#FFFFFF;
}

header .external-links .link-container
{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}

header .external-links .link-container .icon-image
{
	align-items:start;
	justify-content:start;
	object-fit: fill;
}

header .external-links .link-container .icon-image img
{
	width:30px;
	height:30px;
}

header .external-links .link-container .icon-text
{
	align-items:center;
	justify-content:start;
	padding-left:5px;
	font-size:20px;
}

main .about-me
{
	margin:auto;
	padding-top:25px;
	width:80%;
}

main .about-me .subtitle
{
	justify-content:center;
	padding-bottom:5px;
	text-transform:uppercase;
	text-align:center;
	font-size:35px;
}

main .about-me .content
{
	text-align:center-left;
	font-size:18px;
}

main .projects
{
	margin:auto;
	padding-top:25px;
	width:80%;
}

footer
{
	height:500px;
}