main .projects
{
	width:100%
}

main .projects h2
{
	margin-top:50px;
	margin-bottom:50px;
	padding-top:25px;
	padding-bottom:25px;
	padding-left:10%;
	
	display:flex;
	flex-wrap:nowrap;
	justify-content:start;
	align-items:start;
	text-transform:uppercase;
	
	text-align:left;
	font-size:35px;
	text-shadow:2px 2px 4px #000000;
	
	background:#1C1B24;
	border-radius:5px;
}

main .projects .content
{
	margin-left:10%;
	margin-left:10%;
	width:80%;
	
	display:flex;
	flex-wrap:wrap;
	gap:100px;
    justify-content:space-evenly;
	align-content:start;
	align-items:start;
}

main .projects .content .project-container
{
	border:5px solid;
	border-radius:25px;
	border-color:#000000;
	
	box-shadow:
		0 0 0px 0px #FFFFFF,
		0 0 10px 2px #969696,
		0 0 15px 5px #696875;
}

main .projects .content .project-container:hover
{
	animation-name:border-glow;
	animation-duration:0.7s;
	animation-fill-mode:forwards;
}

main .projects .content .project-container .cover table
{
	width:500px;
	height:250px;
	
	border-collapse:collapse;
	border-spacing:0px;
	table-layout:fixed;
}

main .projects .content .project-container .cover th, td
{
	padding:0px;
	overflow:hidden;
}

main .projects .content .project-container .cover img
{
	width:240px;
	height:240px;
	margin:5px;
	
	object-fit:cover;
	border-radius:10%;
	
	display:flex;
	align-items:center;
	justify-content:center;
}

main .projects .content .project-container .cover h3
{
	width:240px;
	height:80.5px;
	margin:5px;
	
	font-size:35px;
	font-weight:normal;
	text-align:center;
	word-break:break-word;
	inline-size:225px;
	hyphens:manual;
	
	display:flex;
	align-items:center;
	justify-content:center;
}

main .projects .content .project-container .cover .tag-container
{
	width:240px;
	height:149.5px;
	margin:5px;
	
	display:flex;
	flex-wrap:wrap;
	align-items:start;
	justify-content:center;
	align-content:start;
	gap:5px;
	
	overflow:hidden;
}

main .projects .content .project-container .cover .tag-container .tag
{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	
	font-size:18px;
	text-transition:uppercase;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;
	color:#000000;
	
	border:1px solid;
	border-radius:5px;
	border-color:#000000;
}

main .projects .content .project-container .project-details
{
	height:0px;
	width:480px;
	margin-left:20px;
	margin-right:20px;
	
	display:flex;
	flex-direction:column;
	align-items:stretch;
	justify-content:start;
	min-width:0;
	
	transition:height 0.5s;
	transition-timing-function:ease-in-out;
	overflow:hidden;
}

main .projects .content .project-container:hover .project-details
{
	height:175px;
}

main .projects .content .project-container .project-details .text
{
	height:100px;
	margin-top:15px;
	margin-bottom:5px;
	font-size:18px;
	line-height:20px;
	
	text-align:left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:normal;
	word-break:break-word;
	
	display:-webkit-box;
	-webkit-line-clamp:5;
	-webkit-box-orient:vertical;
}

main .projects .content .project-container .project-details a
{
	display:flex;
	flex-direction:row;
	justify-content:end;
	align-items:center;
}

main .projects .content .project-container .project-details a:link
{
	text-decoration:none;
	color:#FFFFFF;
}

main .projects .content .project-container .project-details a:visited
{
	text-decoration:none;
	color:#FFFFFF;
}

main .projects .content .project-container .project-details a:hover
{
	text-decoration:none;
	color:#8C8C8C;
}

main .projects .content .project-container .project-details a:active
{
	text-decoration:none;
	color:#575757;
}

main .projects .content .project-container .project-details .link-container
{
	height:40px;
	margin-top:5px;
	margin-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	position:relative;
	
	border:2px solid;
	border-radius:25px;
	border-color:#FFFFFF;
	
	display:none;
}

main .projects .content .project-container:hover .project-details .link-container
{
	position:relative;
	opacity:0;
	
	animation-name:fade-in-slide-right;
	animation-delay:0.2s;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
	
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-items:center;
	justify-content:end;
}

main .projects .content .project-container .project-details .link-container img
{
	transform:rotate(90deg);
	width:40px;
	height:40px;
	object-fit: fill;
}

main .projects .content .project-container .project-details .link-container p
{
	padding-right:5px;
	font-size:25px;
	white-space:nowrap;
	overflow:hidden;
}

@keyframes border-glow
{
	from
	{
		box-shadow:
		0 0 0px 0px #FFFFFF,
		0 0 10px 2px #969696,
		0 0 15px 5px #696875;
	}
	to
	{
		box-shadow:
		0 0 5px 0.5px #FFFFFF,
		0 0 20px 5px #969696,
		0 0 35px 10px #696875;
	}
}

@keyframes fade-in-slide-right
{
	from 
	{
		margin-right:100%;
		opacity:0; 
	}
	to 
	{
		margin-right:0%;
		opacity:1;
	}
}

@keyframes fade-in
{
	from 
	{
		opacity:0; 
	}
	to 
	{
		opacity:1;
	}
}
